<ion-segment [(ngModel)]="filter">
    <ion-segment-button value="from-tracker">
        Tracker
    </ion-segment-button>
    <ion-segment-button value="">
        Tareas
    </ion-segment-button>
</ion-segment>

<ion-list *ngIf="filter == 'from-tracker'; else notFiltered">
    <ion-item>From tracker</ion-item>
    <button ion-item *ngFor="let actualTask of tp.tasksFromTracker">
        <ion-grid>
            <ion-row>
                <ion-col>{{mu.momentToString(actualTask.segments[0].startedAt)}}</ion-col>
                <ion-col>{{showFinishedAt(actualTask.segments[0])}}</ion-col>
                <ion-col>{{mu.durationToHours(actualTask.segments[0].duration)}}</ion-col>
            </ion-row>
        </ion-grid>    
    </button>
</ion-list>

<ng-template #notFiltered>

<ion-list *ngIf="!fromTrackerFilter">
    <ion-item>Tareas</ion-item>
    <button ion-item *ngFor="let actualTask of tp.tasks">
        {{ actualTask.description }}
        <ion-list *ngIf="actualTask.segments.length > 0">
            <ion-item *ngFor="let actualSegment of actualTask.segments">
                <ul>
                    <li><strong>Inicio:</strong> {{mu.momentToString(actualSegment.startedAt)}}</li>
                    <li><strong>Fin:</strong> {{showFinishedAt(actualSegment)}}</li>
                    <li><strong>Duración:</strong> {{mu.durationToHours(actualSegment.duration)}}</li>
                </ul>
            </ion-item>
        </ion-list>
    </button>
</ion-list>

</ng-template>
