<ion-segment [(ngModel)]="tab">
    <ion-segment-button value="tracker">
        Tracker
    </ion-segment-button>
    <ion-segment-button value="tasks">
        Tareas
    </ion-segment-button>
</ion-segment>

<ion-list *ngIf="tab == 'tracker'; else showTasks">
    <ion-item *ngIf="tp.tracker.length == 0">
        <p>Pulsa el botón <ion-icon name="play"></ion-icon> para comenzar el seguimiento<br>
           Pulsa el botón <ion-icon name="square"></ion-icon> para terminarlo</p>
    </ion-item>
    <button ion-item *ngFor="let actualSegment of tp.tracker" (click)="trackerTaskClicked(actualSegment)">
        <ion-grid>
            <ion-row>
                <ion-col>{{mu.momentToString(actualSegment.startedAt)}}</ion-col>
                <ion-col>{{showFinishedAt(actualSegment)}}</ion-col>
                <ion-col>{{mu.durationToHours(actualSegment.duration)}}</ion-col>
            </ion-row>
        </ion-grid>
    </button>
</ion-list>

<ng-template #showTasks>

    <ion-toolbar *ngIf="searchingTask">

            <ion-searchbar placeholder="Escribe el nombre de la tarea" (ionInput)="searchTask($event)">
            </ion-searchbar>

            <ion-buttons end (click)="saveNewTaskButtonClicked()">
                <button ion-button icon-only>
                    <ion-icon name="checkmark-circle"></ion-icon>
                </button>
            </ion-buttons>

    </ion-toolbar>

    <ion-list>
        <ion-item *ngIf="tp.tasks.length == 0">
            Aún no has registrado ninguna tarea
        </ion-item>
        <ng-container *ngFor="let actualTask of tp.tasks">
            <button ion-item *ngIf="filterByDescription(actualTask)">
                {{ actualTask.description }}
                <ion-list *ngIf="actualTask.segments.length > 0">
                    <ion-item *ngFor="let actualSegment of actualTask.segments">
                        <ul>
                            <li><strong>Inicio:</strong> {{mu.momentToString(actualSegment.startedAt)}}</li>
                            <li><strong>Fin:</strong> {{showFinishedAt(actualSegment)}}</li>
                            <li><strong>Duración:</strong> {{mu.durationToHours(actualSegment.duration)}}</li>
                        </ul>
                    </ion-item>
                </ion-list>
            </button>
        </ng-container>
    </ion-list>

</ng-template>
